<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.l3z1_4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.L3Z1">
        <activity android:name="com.example.l3z1_4.PopUpCalendarActivity" android:theme="@style/Theme.L3Z1.PopUpCalendar"></activity>
        <activity android:name="com.example.l3z1_4.AddNewTask" />
        <activity android:name="com.example.l3z1_4.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".MyReminderBroadcast"/>
    </application>

</manifest>